[submodule "vendor/SDL2"]
	path = vendor/SDL2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "vendor/SDL2_image"]
	path = vendor/SDL2_image
	url = https://github.com/davidsiaw/SDL2_image.git
[submodule "vendor/SDL2_mixer"]
	path = vendor/SDL2_mixer
	url = https://github.com/davidsiaw/SDL2_mixer.git
[submodule "vendor/date"]
	path = vendor/date
	url = https://github.com/HowardHinnant/date.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/liquidfun"]
	path = vendor/liquidfun
	url = https://github.com/google/liquidfun.git
[submodule "vendor/SDL2_ttf"]
	path = vendor/SDL2_ttf
	url = https://github.com/davidsiaw/SDL2_ttf.git
[submodule "vendor/tmxlite"]
	path = vendor/tmxlite
    url = https://github.com/fallahn/tmxlite.git
[submodule "vendor/cxx-prettyprint"]
    path = vendor/cxx-prettyprint
    url = https://github.com/louisdx/cxx-prettyprint.git

[submodule "vendor/kult"]
	path = vendor/kult
	url = https://github.com/r-lyeh-archived/kult.git
