[submodule "vendor/glew"]
	path = vendor/glew
	url = https://github.com/dyledge/glew
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "vendor/bullet3"]
	path = vendor/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/kult"]
	path = vendor/kult
	url = https://github.com/r-lyeh-archived/kult.git
[submodule "vendor/liquidfun"]
	path = vendor/liquidfun
	url = https://github.com/google/liquidfun.git
[submodule "vendor/SDL2"]
	path = vendor/SDL2
    url = https://github.com/davidsiaw/SDL2.git
[submodule "vendor/SDL2_image"]
	path = vendor/SDL2_image
	url = https://github.com/davidsiaw/SDL2_image.git
[submodule "vendor/SDL2_ttf"]
	path = vendor/SDL2_ttf
    url = https://github.com/davidsiaw/SDL2_ttf.git
[submodule "vendor/txmlite"]
	path = vendor/txmlite
	url = https://github.com/fallahn/tmxlite.git
[submodule "vendor/SDL2_mixer"]
	path = vendor/SDL2_mixer
	url = https://github.com/davidsiaw/SDL2_mixer.git
[submodule "vendor/tmxlite"]
	path = vendor/tmxlite
	url = https://github.com/fallahn/tmxlite.git
